<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Smart Sockets</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="/static/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="/static/plug.css" type="text/css" />
</head>
<body>
	<div class="headline">
		<div class="title">Smart Sockets</div>
{% set sun = session['username'] %}
{% if sun|length %}
		<a href="/logout"><div class="logout"></div></a>
		N:<div class="user">{{ sun }}</div>
{% else %}
		<a href="/login"><div class="login"></div></a>
{% endif %}
		<div class="clear"></div>
	</div>

