{% include 'head.html' %}

<div class="content">

	<h1>Smart Socket Login</h1>
	<table>
		<tr>
			<th>Username</th>
			<td><input type="text" id="input_username" value=""/></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" id="input_password" value=""/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" id="button_login" value="login"/>
	</table>

</div>

<script type="text/javascript">

$(document).ready(function(){
	console.log('bind handler')
	$('#button_login').click(function(){
		var formData = new FormData();
		formData.append('username', $('#input_username').val());
		formData.append('password', $('#input_password').val());

		$.ajax({
			url: '/api/v1/login',
			method: 'POST',
			data: formData,
			contentType: false,
			processData: false,
			success: function() {
				alert('login ok');
			}
		});
	});
});

</script>

{% include 'foot.html' %}

