{% include 'head.html' %}

<div class="body">

	<h1>Smart Socket Switches</h1>

<table id="slist">
{% for i in range(0, ports|length) %}
	<tr>
		<td>{{ i+1 }}</td>
		<td><a href="#" class="sswitch{% if sst[i] %} on{% endif %}" id="sw{{i}}" title="{{i}}">
				<div class="swst{% if sst[i] %} on{% endif %}" id="ic{{i}}"></div>
		</a></td>
		<td>{% if (i < ports|length) %}{{ ports[i].name }}{% endif %}</td>
	</tr>
{% endfor %}
</table>

<div id="msg">
</div>

</div>

<script type="text/javascript">

$(document).ready(function() {
	$('.sswitch').each(function() {
		$(this).click(function() {

			var id=$(this).attr('title');

			if ($(this).hasClass('on')) {
				$.ajax({
					url: '/api/v1/switch/' + id + '/0',
					success: function(msg) { console.log(msg); }
				});
				$(this).removeClass('on');
				$('#ic'+id).removeClass('on');
			} else {
				$.ajax({
					url: '/api/v1/switch/' + id + '/1',
					success: function(msg) { console.log(msg); }
				});
				$(this).addClass('on');
				$('#ic'+id).addClass('on');
			}
			return false;
		});
	});
	setTimeout(update, 1000);
});

errcnt = 0;
update = function() {

	$.ajax({
		url: '/api/v1/status',
		success: function(data) {
//			console.log(data);
			errcnt = 0;
			$('table#slist').show();
			$('div#msg').hide();
			for (i = 0; i < 8; i++) {
				if (data[i]) {
					$('#sw'+i).addClass('on');
					$('#ic'+i).addClass('on');
				} else {
					$('#sw'+i).removeClass('on');
					$('#ic'+i).removeClass('on');
				}
			}
		},
		error: function(xhr, stat, err) {
			console.log(stat, err);
			errcnt++;
		},
		complete: function() {
			if (errcnt > 5) {
				$('table#slist').hide();
				$('div#msg').show();
				$('div#msg').html("<h2>Error</h2>No connection");
				setTimeout(update, 60000);
			} else {
				setTimeout(update, 1000);
			}
		}
	});
};



</script>

{% include 'foot.html' %}

