{% include 'head.html' %}
	<h1>Smart Socket Switches</h1>

	<table>
{% for i in range(0, 8) %}
	<tr>
		<td>{{ i+1 }}</td>
		<td><a href="#" class="sswitch{% if sst[i] %} on{% endif %}" id="sw{{i}}" title="{{i}}">
				<div class="swst{% if sst[i] %} on{% endif %}" id="ic{{i}}"></div>
		</a></td>
	</tr>
{% endfor %}
</table>

<script type="text/javascript">

$(document).ready(function() {
	$('.sswitch').each(function() {
		$(this).click(function() {

			var id=$(this).attr('title');

			if ($(this).hasClass('on')) {
				$.ajax({
					url: '/api/v1/switch/' + id + '/0',
					success: function(msg) { console.log(msg); }
				});
				$('#ic'+id).attr('src', '/static/sw-off.png');
				$(this).removeClass('on');
				$('#ic'+id).removeClass('on');
			} else {
				$.ajax({
					url: '/api/v1/switch/' + id + '/1',
					success: function(msg) { console.log(msg); }
				});
				$('#ic'+id).attr('src', '/static/sw-on.png');
				$(this).addClass('on');
				$('#ic'+id).addClass('on');
			}
			return false;
		});
	});
	setTimeout(update, 1000);
});

update = function() {

	$.ajax({
		url: '/api/v1/status',
		success: function(data) {
//			console.log(data);
			for (i = 0; i < 8; i++) {
				if (data[i]) {
					$('#sw'+i).addClass('on');
					$('#ic'+i).addClass('on');
				} else {
					$('#sw'+i).removeClass('on');
					$('#ic'+i).removeClass('on');
				}
			}
		}
	});
	setTimeout(update, 1000);
};



</script>

</html>

